<div class="navbar flex justify-between items-center">
    <div class="logo text-xl font-bold text-red-700">
        kendiXpress
    </div>
    <div class="left-side md:flex md:items-center">
        <div class="menu hidden md:flex md:mx-1 lg:mx-2">
            <div class="link mx-1 lg:mx-2">
                <a class="hover:text-red-700" href="">Layanan Kami</a>
            </div>
            <div class="link mx-1 lg:mx-2">
                <a class="hover:text-red-700" href="">Mitra Kami</a>
            </div>
            <div class="link mx-1 lg:mx-2">
                <a class="hover:text-red-700" href="">Cara Kerja</a>
            </div>
            <div class="link mx-1 lg:mx-2">
                <a class="hover:text-red-700" href="">Kata Mereka</a>
            </div>
        </div>
        <div class="button md:mx-1 md:flex">
            <a class="py-2 px-4 border md:mx-1 border-red-700 text-red-700 rounded-full hidden md:flex" href="">
                Daftar
            </a>
            <a class="py-2 px-4 md:mx-1 bg-red-600 text-white rounded-full" href="">
                Masuk
            </a>
        </div>
    </div>
</div>
