<app-info></app-info>
<div class="content p-4 sm:p-8 lg:px-16 2xl:32">
  <app-navbar></app-navbar>
  <div class="header mt-8 md:flex md:flex-col-reverse md:relative">
    <div class="search-bar w-full md:absolute md:-bottom-5">
      <app-searchbar></app-searchbar>
    </div>
    <div class="header-bar mt-8">
      <app-hero></app-hero>
    </div>
  </div>
  <div class="feature mt-16">
    <app-feature></app-feature>
  </div>
  <div class="menu mt-16">
    <app-menu></app-menu>
  </div>
  <div class="partners mt-16">
    <app-partners></app-partners>
  </div>
  <div class="howitworks mt-16">
    <app-howitworks></app-howitworks>
  </div>
  <div class="testimony mt-16">
    <app-testimony></app-testimony>
  </div>
</div>
<div class="bottom-action mt-16">
  <app-bottomaction></app-bottomaction>
</div>
<div class="footer p-4 sm:p-8 lg:px-16 2xl:32 flex flex-col-reverse md:flex-row md:justify-between md:items-center">
  <div class="left-side">
    <div class="logo text-red-700 font-bold">
      kendiXpress
    </div>
    <div class="cc text-xs">
      2022 kendiXpress
    </div>
  </div>
  <div class="right-side text-xs">
    <div class="menu md:flex">
      <div class="aboutus my-4">Tentang Kami</div>
      <div class="aboutus my-4">Syarat Dan Ketentuan</div>
      <div class="aboutus my-4">Kebijakan Privasi</div>
      <div class="aboutus my-4">FAQ</div>
      <div class="aboutus my-4">Kostumasi pesanan</div>
    </div>
    <div class="contact mt-8 md:mt-2 md:flex md:items-center">
      <p>Hubungi Kami Bila Memerlukan Infrmasi</p>
      <p class="mt-4 md:mt-0 md:mx-2 text-xl md:text-base text-red-700 font-semibold">0812 8594 9895</p>
    </div>
  </div>
</div>