<div class="feature flex flex-wrap md:flex-nowrap">
    <div class="first w-1/2 lg:w-1/4 p-2 flex flex-col items-center lg:flex-row lg:items-center">
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-red-700" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>
        </div>
        <div class="text text-center mt-4 lg:text-left lg:mx-4 lg:mt-0">
            <div class="title text-base text-red-700 font-bold lg:text-sm">
                Gratis Ongkir
            </div>
            <div class="subtitle text-sm mt-4 lg:mt-1 lg:text-xs">
                Minimal order terpenuhi <br class="lg:hidden"> di setiap merchant
            </div>
        </div>
    </div>
    <div class="second w-1/2 lg:w-1/4 p-2 flex flex-col items-center lg:flex-row lg:items-center">
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-red-700" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>
        </div>
        <div class="text text-center mt-4 lg:text-left lg:mx-4 lg:mt-0">
            <div class="title text-base text-red-700 font-bold lg:text-sm">
                Bayar CBD atau TOP
            </div>
            <div class="subtitle text-sm mt-4 lg:mt-1 lg:text-xs">
                TOP, pemesanan atas <br class="lg:hidden"> nama perusahaan
            </div>
        </div>
    </div>
    <div class="third w-1/2 lg:w-1/4 p-2 flex flex-col items-center lg:flex-row lg:items-center">
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-red-700" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>
        </div>
        <div class="text text-center mt-4 lg:text-left lg:mx-4 lg:mt-0">
            <div class="title text-base text-red-700 font-bold lg:text-sm">
                Harga Terjangkau
            </div>
            <div class="subtitle text-sm mt-4 lg:mt-1 lg:text-xs">
                Harga menu mulai dari <br class="lg:hidden"> Rp.18000
            </div>
        </div>
    </div>
    <div class="fourth w-1/2 lg:w-1/4 p-2 flex flex-col items-center lg:flex-row lg:items-center">
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-red-700" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>
        </div>
        <div class="text text-center mt-4 lg:text-left lg:mx-4 lg:mt-0">
            <div class="title text-base text-red-700 font-bold lg:text-sm">
                Variasi Menu
            </div>
            <div class="subtitle text-sm mt-4 lg:mt-1 lg:text-xs">
                Terdapat menu catering <br> dan resto favorit
            </div>
        </div>
    </div>
</div>
